.col-sm-8, .col-sm-4{
border-style: solid;
}

.btn-toolbar .btn-group .btn-primary{
  padding-left: 10px;
  padding-right: 10px;
}

#name {
  text-align: center;

  padding-top: 25px;
  padding-bottom: 25px;
  background-color: cornflowerblue;
}

#controls {
  background-color: lightcyan;
}

@import 'bootstrap/scss/bootstrap';